Frontend/dupe-machine/package-lock.json
/Backend/venv
/Backend/__pycache__
/Backend/controllers/__pycache__
Backend/.env
/Backend/.venv
Backend/.ebignore
*.pyc
/Backend/controllers/__pycache__
/Backend/controllers/__pycache__
/Backend/controllers/__pycache__
/Gemini_Testing/node_modules
/Gemini_Testing/venv
/Gemini_Testing/.venv
/Backend/controllers/__pycache__
Backend/controllers/__pycache__/signup_controller.cpython-311.pyc
Backend/controllers/__pycache__/signup_controller.cpython-311.pyc
