Frontend/dupe-machine/package-lock.json
/Backend/venv
/Backend/__pycache__
/Backend/controllers/__pycache__
Backend/.env
/Backend/.venv
Backend/.ebignore
/Gemini/gemini_config/__pycache__
/Gemini/routes/__pycache__
/Gemini/services/__pycache__
/Gemini/node_modules
/Gemini/__pycache__
/Gemini/package-lock.json