Frontend/dupe-machine/package-lock.json
/Backend/venv
/Backend/__pycache__
/Backend/controllers/__pycache__
Backend/.env
/Backend/.venv
Backend/.ebignore
/gemini_config/__pycache__
/routes/__pycache__
/services/__pycache__