.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
  }
  
  .login-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .login-box {
    background-color: #d2bfc7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .input-field {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
  }
  
  .login-button {
    padding: 10px;
    background-color: #5d1b2e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .options {
    margin-top: 15px;
    display: flex;
    gap: 10px;
  }
  
  .signup-button,
  .guest-button {
    background: none;
    border: none;
    color: #272a34;
    cursor: pointer;
    font-size: 14px;
  }
  