.navbar {
  position: fixed;
  top: 0;
  background-image: linear-gradient(0deg, #311d11,  #352012);
  width: 100vw;
  height: 50px;
  z-index: 500;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  color: #edeceb;
}

.link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 600;
  font-size: 14pt;
}

.nav-link {
  text-decoration: none; 
}
.nav-link:hover {
  cursor: pointer; 
}