/* UserDisplay.css */
.user-display-container {
    text-align: center;
    padding-top: 100px;
  }
  
  .user-display-content {
    display: flex;
    margin-left: 50px;
    gap: 100px; /* Space between the text elements */
  }
  .user-display-content h2 {
    color: #311d11;
  }
  
  .custom-line {
    width: 75%; /* Adjust width as needed */
    height: 5px; /* Height to make it look like a rectangle */
    background-color: #444c3c; /* Customize the color */
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
  }
   .saved-heading{
    margin-top: 50px;
   }

  .saved-heading h2{
    color: #311d11;
  }
  @media (max-width: 800px) {
    .custom-line {
      width: 90%; /* Adjust width as needed */
    }
    .user-display-content {
      margin-left: 20px;
      gap: 100px; /* Space between the text elements */
    }
    .user-display-content h2 {
      font-size: 16px;
    }
  }